*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align:center;
    font-size:4rem;
    background-color:rebeccapurple; 
    display:flex;
    align-items:center;
    justify-content:center;
    margin:3.5rem;
    padding:2rem;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}